<form #registerForm="ngForm" (submit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="model.username"
        placeholder="Username"
        name="username"
      />
    </div>
    <div class="mb-2">
      <input
        type="password"
        class="form-control"
        [(ngModel)]="model.password"
        placeholder="password"
        name="password"
      />
    </div>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success btn-lg me-2" type="submit">Register</button>
    <button class="btn btn-danger btn-lg me-2" (click)="cancel()" type="button">
      Cancel
    </button>
  </div>
</form>
